html {
    background-image: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, black, black 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

#Home_Link,
#Contact_Link,
#Courses_Link {
    font-size: x-large;
    font-style: unset;
}

h1,
h2 {
    color: white;
    text-align: center;
}

li,
label,
a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    width: 20%;
    background-color: none;
}

a {
    width: 8%;
    display: block;
    color: white;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.navigationBarParent {
    display: flex;
    justify-content: space-between;
}

.navigationBarChild {
    display: flex;
    justify-content: space-around;
    flex: auto;
}

#TextArea1 {
    width: 25%;
    height: 200px;
}

.FirstLine {
    display: flex;
    justify-content: center;
}

.SecondLine {
    display: flex;
    justify-content: center;
}

.ThirdLine {
    display: flex;
    justify-content: center;
}

#Img01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect00.png');
}

#Img02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect01.png');
}

#Img03 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect02.png');
}

#Img04 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect03.png');
}

#Img05 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect04.png');
}

#Img06 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect05.png');
}

#Img07 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect06.png');
}

#Img08 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect07.png');
}

#Img09 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 200px;
    margin: 10px;
    background-image: url('../res/vect08.png');
}

.CoursesImg:hover {
    opacity: 0.5;
}

.bc {
    display: none;
}

.modal-content-01 {
    display: none;
}

.modal-content-02 {
    display: none;
}

.modal-content-03 {
    display: none;
}

.modal-content-04 {
    display: none;
}

.modal-content-05 {
    display: none;
}

.modal-content-06 {
    display: none;
}

.modal-content-07 {
    display: none;
}

.modal-content-08 {
    display: none;
}

.modal-content-09 {
    display: none;
}